.container {
   flex: 1;


   text-align: center;
   align-items: center;
   justify-content: center;
}

.main-image {
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    align-self: center;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

button {
    padding: 10px;
    margin: 2vh;
}